<configuration>
	<refFolder>/data/spark/ref</refFolder>
	<toolsFolder>/data/spark/tools</toolsFolder>
	<tmpFolder>/tmp/bswastanto</tmpFolder>
	<inputFolder>/tmp/bswastanto/input8_il</inputFolder>
	<outputFolder>output</outputFolder> 
	<numInstances>2</numInstances>
	<numThreads>8</numThreads>
</configuration>
